.main{
    position: relative;
    width: 300px;
    height: 300px;
    margin: 5%;
}
.person_img{
    width: 200px;
    position: absolute;
    top: 35%;
    left: 35%;
    border-radius: 50%;
} 
.test{
    width: 200px;
    height: 400px;
    border: 20px solid gray;
    border-radius: 10%;
}
.des{
    margin-top: 120px;
    margin-left: 5px;
    /* border: 5px solid red;
    border-radius: 10%; */
    padding: 10px;
}

@keyframes iconScale {
    0% {
      transform: scale(1);
    }
    20% {
      transform: scale(0.95);
    }
    40% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.5);
    }
    60% {
      transform: scale(1.8);
    }
    70% {
      transform: scale(1.2);
    }
    60% {
      transform: scale(2.5);
    }
    100% {
      transform: scale(3);
    }
  }
svg :hover{
    animation: iconScale 3s ;


}